<div class="container mx-auto mt-8">
  <div class="my-container flex justify-center">
    <button
      class="bg-blue-500 text-white font-bold rounded-lg py-2 px-4 transition-all hover:scale-105 flex items-center justify-center mx-auto mt-8"
      (click)="getCommits()"
    >
      Refrescar
    </button>
  </div>

  <table
    class="table-fixed border-collapse bg-white w-full mt-8 rounded-lg shadow-lg"
  >
    <thead>
      <tr class="bg-gray-200 border border-gray-500">
        <th
          class="p-3 font-bold uppercase bg-gray-200 text-gray-700 border border-gray-300 hidden lg:table-cell"
        >
          SHA
        </th>
        <th
          class="p-3 w-1/12 font-bold uppercase bg-gray-200 text-gray-700 border border-gray-300 hidden lg:table-cell"
        >
          Autor
        </th>
        <th
          class="p-3 font-bold uppercase bg-gray-200 text-gray-700 border border-gray-300 hidden lg:table-cell"
        >
          Mensaje
        </th>
        <th
          class="p-3 w-1/12 font-bold uppercase bg-gray-200 text-gray-700 border border-gray-300 hidden lg:table-cell"
        >
          Fecha
        </th>
        <th
          class="p-3 w-1/12 font-bold uppercase bg-gray-200 text-gray-700 border border-gray-300 hidden lg:table-cell"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let commit of commits"
        class="bg-gray-800 text-white border-gray-300 lg:hover:bg-gray-700 lg:hover:text-gray-200"
      >
        <td class="px-4 py-3 w-full border border-gray-300 lg:table-cell">
          {{ commit.sha }}
        </td>
        <td class="border px-4 py-3 w-1/3 border-gray-300 lg:table-cell">
          {{ commit.commit.author.name }}
        </td>
        <td class="px-4 py-3 border border-gray-300 lg:table-cell">
          {{ commit.commit.message }}
        </td>
        <td class="px-4 py-3 border border-gray-300 lg:table-cell">
          {{ commit.commit.author.date }}
        </td>
        <td class="px-4 py-3 border border-gray-300 lg:table-cell">
          <a
            class="text-gray-400 hover:text-gray-100 mr-2"
            href="{{ commit.html_url }}"
            target="_blank"
            rel="noopener noreferrer"
            >Ver en GitHub</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
